.input-lavender {
    background-color: #f1edfa;
    transition: all 0.2s ease;
}

.input-lavender:focus, .cap-input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #6a47af;
    outline: none;
}

#capitulos-container::-webkit-scrollbar {
    width: 6px;
}

#capitulos-container::-webkit-scrollbar-thumb {
    background-color: #e2d9f3;
    border-radius: 10px;
}

.mod-input:focus {
    background-color: #ffffff;
    border-color: #6a47af;
    outline: none;
    box-shadow: 0 0 0 2px rgba(106, 71, 175, 0.15);
}