body {
    background-color: #ffffff;
    color: #12131a;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.glass-card {
    background: #ffffff;
    border: 1px solid #e2e1eb;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05);
}
.glass-card:hover {
    border-color: #8A2BE2;
    box-shadow: 0 10px 15px -3px rgb(138 43 226 / 0.1);
}
.avatar-glow {
    box-shadow: 0 0 30px rgba(138, 43, 226, 0.2);
}
.primary-glow-button {
    box-shadow: 0 0 12px rgba(138, 43, 226, 0.3);
}
.primary-glow-button:hover {
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.5);
    background-color: #A052FF;
}
#sidebar-overlay {
    display: none;
    background: rgba(0,0,0,0.5);
}
